.display-box {
  padding-top: 60px; /* Pushes the content below the navbar */
  padding-left: 150px;
  padding-right: 150px;
  background-color: rgba(211, 211, 211, 0.350);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
  border-radius: 8px; /* Optional rounded corners */
}

.navbar ul {
  list-style: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: beige;
  margin-top: 0;
  color: black;
  z-index: 1;
  box-shadow: 2px 2px 2px grey;
}

/* Style rule set for individual li */
.navbar ul li {
  float: left;
  margin: 10px;
  padding: 5px;
}


/* Style rule set for individual li link */
.navbar ul li a {
  display: block;
  font-family: Arial;
  color:black;
  font-size: 16px;
  text-decoration: none;
}

/* Style rule set for hovered link */
.navbar ul li a:hover {
    font-weight: bold;
}

.navbar ul li a:active {
  text-shadow: 0.5px 0.5px 0.5px orange;
}

.flex-column {
  display: flex;
  flex-direction: column;
  background-color: rgba(211, 211, 211, 0.285);
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

h1 {
  color: orange;
  font-size: 40px;
}

h1:hover {
  text-shadow: 1px 1px 1px orangered;
}

img:hover{
  box-shadow: 2px 2px 2px black;
}

img {
  max-width: 100%;
  height: auto;
  width: 300px;
}

.set {
  flex: 1; 
  margin: 10px; 
  padding: 20px; 
  border-radius: 8px; /* Optional rounded corners */
}

p{
  font-size: 20px;
  line-height: 2;
  text-align: justify;
  text-shadow: 0.5px 0.5px 0.5px burlywood;
}

